In [79]:
import pandas as pd

In [81]:
pwd

'C:\\Users\\Yash\\OneDrive\\Desktop\\Practice'

In [83]:
df = pd.read_csv("C:\\Users\\Yash\\OneDrive\\Desktop\\Practice\\Datasets\\mtcars.csv")

In [85]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 2.9 KB

In [89]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [91]:
df['cyl']

0     6
1     6
2     4
3     6
4     8
5     6
6     8
7     4
8     4
9     6
10    6
11    8
12    8
13    8
14    8
15    8
16    8
17    4
18    4
19    4
20    4
21    8
22    8
23    8
24    8
25    4
26    4
27    4
28    8
29    6
30    8
31    4
Name: cyl, dtype: int64

In [149]:
df.cyl.value_counts()

cyl
8    14
4    11
6     7
Name: count, dtype: int64

In [93]:
df.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [95]:
df.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [97]:
df.hp.describe()

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [99]:
df.hp.mean()

146.6875

In [101]:
df.hp.quantile(0.25)

96.5

In [103]:
new_df = df[['hp','cyl']]
new_df

     hp  cyl
0   110    6
1   110    6
2    93    4
3   110    6
4   175    8
5   105    6
6   245    8
7    62    4
8    95    4
9   123    6
10  123    6
11  180    8
12  180    8
13  180    8
14  205    8
15  215    8
16  230    8
17   66    4
18   52    4
19   65    4
20   97    4
21  150    8
22  150    8
23  245    8
24  175    8
25   66    4
26   91    4
27  113    4
28  264    8
29  175    6
30  335    8
31  109    4

In [105]:
new_df.cyl.mean()

6.1875

In [107]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [115]:
df.groupby('gear').count()

      mpg  cyl  disp  hp  drat  wt  qsec  vs  am  carb
gear
3      15   15    15  15    15  15    15  15  15    15
4      12   12    12  12    12  12    12  12  12    12
5       5    5     5   5     5   5     5   5   5     5

In [127]:
df.groupby(['gear','hp'])[['disp','carb']].describe()

          disp                                                             \
         count    mean        std    min      25%     50%      75%    max
gear hp
3    97    1.0  120.10        NaN  120.1  120.100  120.10  120.100  120.1
     105   1.0  225.00        NaN  225.0  225.000  225.00  225.000  225.0
     110   1.0  258.00        NaN  258.0  258.000  258.00  258.000  258.0
     150   2.0  311.00   9.899495  304.0  307.500  311.00  314.500  318.0
     175   2.0  380.00  28.284271  360.0  370.000  380.00  390.000  400.0
     180   3.0  275.80   0.000000  275.8  275.800  275.80  275.800  275.8
     205   1.0  472.00        NaN  472.0  472.000  472.00  472.000  472.0
     215   1.0  460.00        NaN  460.0  460.000  460.00  460.000  460.0
     230   1.0  440.00        NaN  440.0  440.000  440.00  440.000  440.0
     245   2.0  355.00   7.071068  350.0  352.500  355.00  357.500  360.0
4    52    1.0   75.70        NaN   75.7   75.700   75.70   75.700   75.7
     62    1.0  146.70        NaN  146.7  146.700  146.70  146.700  146.7
     65    1.0   71.10        NaN   71.1   71.100   71.10   71.100   71.1
     66    2.0   78.85   0.212132   78.7   78.775   78.85   78.925   79.0
     93    1.0  108.00        NaN  108.0  108.000  108.00  108.000  108.0
     95    1.0  140.80        NaN  140.8  140.800  140.80  140.800  140.8
     109   1.0  121.00        NaN  121.0  121.000  121.00  121.000  121.0
     110   2.0  160.00   0.000000  160.0  160.000  160.00  160.000  160.0
     123   2.0  167.60   0.000000  167.6  167.600  167.60  167.600  167.6
5    91    1.0  120.30        NaN  120.3  120.300  120.30  120.300  120.3
     113   1.0   95.10        NaN   95.1   95.100   95.10   95.100   95.1
     175   1.0  145.00        NaN  145.0  145.000  145.00  145.000  145.0
     264   1.0  351.00        NaN  351.0  351.000  351.00  351.000  351.0
     335   1.0  301.00        NaN  301.0  301.000  301.00  301.000  301.0

          carb
         count mean  std  min  25%  50%  75%  max
gear hp
3    97    1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
     105   1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
     110   1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
     150   2.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0
     175   2.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0
     180   3.0  3.0  0.0  3.0  3.0  3.0  3.0  3.0
     205   1.0  4.0  NaN  4.0  4.0  4.0  4.0  4.0
     215   1.0  4.0  NaN  4.0  4.0  4.0  4.0  4.0
     230   1.0  4.0  NaN  4.0  4.0  4.0  4.0  4.0
     245   2.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0
4    52    1.0  2.0  NaN  2.0  2.0  2.0  2.0  2.0
     62    1.0  2.0  NaN  2.0  2.0  2.0  2.0  2.0
     65    1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
     66    2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
     93    1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
     95    1.0  2.0  NaN  2.0  2.0  2.0  2.0  2.0
     109   1.0  2.0  NaN  2.0  2.0  2.0  2.0  2.0
     110   2.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0
     123   2.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0
5    91    1.0  2.0  NaN  2.0  2.0  2.0  2.0  2.0
     113   1.0  2.0  NaN  2.0  2.0  2.0  2.0  2.0
     175   1.0  6.0  NaN  6.0  6.0  6.0  6.0  6.0
     264   1.0  4.0  NaN  4.0  4.0  4.0  4.0  4.0
     335   1.0  8.0  NaN  8.0  8.0  8.0  8.0  8.0

In [131]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [133]:
df.iloc[5]

mpg      18.10
cyl       6.00
disp    225.00
hp      105.00
drat      2.76
wt        3.46
qsec     20.22
vs        1.00
am        0.00
gear      3.00
carb      1.00
Name: 5, dtype: float64

In [135]:
df.iloc[1:7]

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5  18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6  14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4

In [137]:
df.iloc[0:50:5,]

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8

In [139]:
df.iloc[0:50:3,1:4]

    cyl   disp   hp
0     6  160.0  110
3     6  258.0  110
6     8  360.0  245
9     6  167.6  123
12    8  275.8  180
15    8  460.0  215
18    4   75.7   52
21    8  318.0  150
24    8  400.0  175
27    4   95.1  113
30    8  301.0  335

In [143]:
df.iloc[1:3,['hp','gears']]

IndexError: .iloc requires numeric indexers, got ['hp' 'gears']

In [147]:
# to use coloumn names we have to use loc rather than iloc

df.loc[1:3,['hp','gear']]

    hp  gear
1  110     4
2   93     4
3  110     3