## Association Rules

<h4 style="color:orange">Association rule learning is a type of unsupervised learning technique that checks for the dependency of one data item on another data item and maps accordingly</h4>

- Basically it is study of "What goes with what"
- Also called as __market basket analysis,affinity analysis__
- Origin -> Study of customer transaction databases to determine dependencies between purchases of different items

Actual market basket analysis -

- one basket tells you about what one customer purchased at one time
- A loyalty card makes it possible to tie together items purchased by a customer over time

<h3 style="color:red">How Association Rules can be used?</h3>

- Diapers and Beer. Most famous example of market basket analysis for the last few years.
  __If you buy diapers, you tend to buy beer__
- Promotion on one item, raise price of related item
- To determine placement of items in a store
- Stocking -> The process of putting items on shelves and display areas in a store, or in a warehouse or backroom

<h3 style="color:red">What is Association Rule Mining?</h3>

<img src="images\\Association_Rules_Mining.png" alt="image" width="400px" style="border:2px dotted orange;padding:20px">

<h3 style="color:red">Association Rule Types -</h3>

- __Actionable Rules__ - Contain high-quality, actionable information
- __Trivial Rules__ - Information already known by those familiar with the business
- __Inexplicable Rules__ - No explanation and do not suggest action

<h5 style="color:green">Trivial and Inexplicable rules occur most often</h5>


<div style="border:1px solid red;padding:10px"><h4>Actionable Rules examples - </h4>

- Wak-mart customers who purchase Barbie dolls have a 60% likelihood of also purchasing a candy bar
- When a new hardware shop opens, one of the most commonly sold items is toilet bowl cleaners
  </div>

<img src="images\\Association_Rules_Example.png" alt="image" width="500px" style="border:2px dotted orange">
<img src="images\\Association_Rules_Example1.png" alt="image" width="500px" style="border:2px dotted orange">
<img src="images\\Association_Rules_Example2.png" alt="image" width="500px" style="border:2px dotted orange">

<h3 style="color:red">Rule Generation - </h3>

- __Problem__ - Generating all possible rules is exponential in the number of distinct items

- __Solution__ - __Frequent Item Sets__

              - Consider only combinations that occur with higher frequency in the database
              - Criterion for "frequent" --> Support

<h2 style="background-color:lavender;padding:10px">Rule -    A â‡’ B[s,c] &nbsp; &nbsp; &nbsp; <span style="font-size:15px;">...where s = support, c = confidence</span></h2>

<h3 style="color:limegreen"><b>Support -</b></h3>

- Support of an item % of transactions in which antecedent and consequent appear in the data

<div style="display:flex;padding:10px"><h4>Support  = </h4><img src="images\\Association_Rules_Support.png" alt="image" width="500px"></div>

____

<h3 style="color:limegreen"><b>Confidence -</b></h3>

- Support of an item % of antecedent transactions that also have a consequent item set

<div style="display:flex;padding:10px"><h4>Support  = </h4><img src="images\\Association_Rules_Confidence.png" alt="image" width="500px"></div>

Below are the examples based on that

<img src="images\\Association_Rules_Example3.png" alt="image" width="500px" style="border:1px dotted blue">
<img src="images\\Association_Rules_Example4.png" alt="image" width="500px" style="border:1px dotted blue">
<img src="images\\Association_Rules_Example5.png" alt="image" width="500px" style="border:1px dotted blue">

____

<h2 style="color:firebrick">Generating frequent item sets: The Apriori Algorithm</h2>

__For k products -__

1. --> <b>Set minimum support criterion</b>
2. --> <b>Generate list of one-item sets that meet the support criterion</b>
3. --> <b>Use list of one-item sets to generate list of two-item sets that meet support criterion</b>
4. --> <b>Use list of two-item sets to generate list of three-item sets that meet support criterion</b>
5. --> <b>continue up through k-item sets</b>

<h3 style="color:red">Performance Measure - Lift Ratio</h3>

- __Lift_ratio = confidence / (benchmark confidence)__

- benchmark assumes independence between antecedent and consequence

- <img src="images\\Association_Rules_Lift.png" alt="image" width="400px">

<h3 style="color:red">Interpreting Lift -</h3>

<h3>Lift > 1 indicates a rule that is useful in finding consequent item sets i.e. more useful than selecting transactions randomly</h3>

Lets revisit

<div><img src="images\\Association_Rules_Revisit.png" alt="image" width="40%" border="1px">
<img src="images\\Association_Rules_Role_of_Chance.png" alt="image" width="40%" border="1px"></div>

# Example Code

In [266]:
#Here we want to understand which features are strongly associated to survived = yes. eg. if 1st class, Male->Yes OR female->yes
#Install 'mlxtend' Library if not installed already
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.3-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\yash\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\yash\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\yash\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\yash\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\yash\anaconda3\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\yash\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\yash\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\yash\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\yash\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\yash\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\yash\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\yash\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\yash\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\yash\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yash\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yash\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Collecting joblib>=0.13.2 (from mlxtend)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\yash\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\yash\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.3-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
    --------------------------------------- 0.0/1.4 MB 435.7 kB/s eta 0:00:04
   -- ------------------------------------- 0.1/1.4 MB 762.6 kB/s eta 0:00:02
   --- ------------------------------------ 0.1/1.4 MB 798.9 kB/s eta 0:00:02
   ----- ---------------------------------- 0.2/1.4 MB 952.6 kB/s eta 0:00:02
   ---------- ----------------------------- 0.4/1.4 MB 1.5 MB/s eta 0:00:01
   -------------- ------------------------- 0.5/1.4 MB 1.7 MB/s eta 0:00:01
   ----------------------- ---------------- 0.8/1.4 MB 2.4 MB/s eta 0:00:01
   ------------------------------- -------- 1.1/1.4 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  1.3/1.4 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 3.0 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   ---------------------------------------  297.0/301.8 kB 9.2 MB/s eta 0:00:01
   ---------------------------------------- 301.8/301.8 kB 6.3 MB/s eta 0:00:00
Installing collected packages: joblib, mlxtend
  Attempting uninstall: joblib
    Found existing installation: joblib 1.0.1
    Uninstalling joblib-1.0.1:
      Successfully uninstalled joblib-1.0.1
Successfully installed joblib-1.4.2 mlxtend-0.23.3

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.1.0 requires joblib~=1.0.1, but you have joblib 1.4.2 which is incompatible.
pandas-profiling 3.1.0 requires visions[type_image_path]==0.7.4, but you have visions 0.7.6 which is incompatible.

In [293]:
# importing required packages

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [272]:
df = pd.read_csv("Datasets\\Titanic.csv")
df

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [274]:
df.Class.value_counts()

Class
Crew    885
3rd     706
1st     325
2nd     285
Name: count, dtype: int64

In [276]:
df.Gender.value_counts()

Gender
Male      1731
Female     470
Name: count, dtype: int64

In [280]:
df.Age.value_counts()

Age
Adult    2092
Child     109
Name: count, dtype: int64

In [282]:
df.Survived.value_counts()

Survived
No     1490
Yes     711
Name: count, dtype: int64

## All data should be in transaction format

In [285]:
# hence use transaction encoder

In [291]:
array = df.values
array

array([['3rd', 'Male', 'Child', 'No'],
       ['3rd', 'Male', 'Child', 'No'],
       ['3rd', 'Male', 'Child', 'No'],
       ...,
       ['Crew', 'Female', 'Adult', 'Yes'],
       ['Crew', 'Female', 'Adult', 'Yes'],
       ['Crew', 'Female', 'Adult', 'Yes']], dtype=object)

In [295]:
encoder = TransactionEncoder()
onehot = encoder.fit_transform(array)
onehot_df = pd.DataFrame(onehot,columns=encoder.columns_)
onehot_df

        1st    2nd    3rd  Adult  Child   Crew  Female   Male     No    Yes
0     False  False   True  False   True  False   False   True   True  False
1     False  False   True  False   True  False   False   True   True  False
2     False  False   True  False   True  False   False   True   True  False
3     False  False   True  False   True  False   False   True   True  False
4     False  False   True  False   True  False   False   True   True  False
...     ...    ...    ...    ...    ...    ...     ...    ...    ...    ...
2196  False  False  False   True  False   True    True  False  False   True
2197  False  False  False   True  False   True    True  False  False   True
2198  False  False  False   True  False   True    True  False  False   True
2199  False  False  False   True  False   True    True  False  False   True
2200  False  False  False   True  False   True    True  False  False   True

[2201 rows x 10 columns]

In [297]:
## Or simply use get dummies method 

df = pd.get_dummies(df)
df

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,False,False,True,False,False,True,False,True,True,False
1,False,False,True,False,False,True,False,True,True,False
2,False,False,True,False,False,True,False,True,True,False
3,False,False,True,False,False,True,False,True,True,False
4,False,False,True,False,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...
2196,False,False,False,True,True,False,True,False,False,True
2197,False,False,False,True,True,False,True,False,False,True
2198,False,False,False,True,True,False,True,False,False,True
2199,False,False,False,True,True,False,True,False,False,True
2200,False,False,False,True,True,False,True,False,False,True

# Apriori Algorithm

In [300]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)#df-dataframe, min_support default=0.5
# min_support is a float between 0 and 1 for minumum support of the itemsets returned.
# The support is computed as the fraction transactions_where_item(s)_occur / total_transactions.
frequent_itemsets # output is frequent itemsets: 1-item itemsets, 2-item itemsets etc. with min support criteria

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Age_Adult, Class_1st)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Gender_Male, Class_3rd)
12  0.284871                             (Age_Adult, Class_3rd)
13  0.239891                           (Survived_No, Class_3rd)
14  0.391640                          (Gender_Male, Class_Crew)
15  0.402090                            (Age_Adult, Class_Crew)
16  0.305770                          (Survived_No, Class_Crew)
17  0.193094                         (Age_Adult, Gender_Female)
18  0.156293                      (Gender_Female, Survived_Yes)
19  0.757383                           (Gender_Male, Age_Adult)
20  0.619718                         (Gender_Male, Survived_No)
21  0.166742                        (Gender_Male, Survived_Yes)
22  0.653339                           (Age_Adult, Survived_No)
23  0.297138                          (Age_Adult, Survived_Yes)
24  0.209905                (Gender_Male, Class_3rd, Age_Adult)
25  0.191731              (Gender_Male, Survived_No, Class_3rd)
26  0.216265                (Age_Adult, Survived_No, Class_3rd)
27  0.391640               (Gender_Male, Age_Adult, Class_Crew)
28  0.304407             (Gender_Male, Survived_No, Class_Crew)
29  0.305770               (Age_Adult, Survived_No, Class_Crew)
30  0.143571           (Age_Adult, Gender_Female, Survived_Yes)
31  0.603816              (Gender_Male, Survived_No, Age_Adult)
32  0.153567             (Gender_Male, Age_Adult, Survived_Yes)
33  0.175829   (Gender_Male, Survived_No, Class_3rd, Age_Adult)
34  0.304407  (Gender_Male, Survived_No, Age_Adult, Class_Crew)

In [302]:
rules = association_rules(frequent_itemsets,metric='lift',num_itemsets=2201,min_threshold=0.7)   # min_threshold is confidence
rules.sort_values('lift',ascending=False)[0:20]    # first 20

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
64,"(Age_Adult, Gender_Female)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,1.0,0.081195,2.639542,0.700873,0.385366,0.621146,0.593987
69,(Survived_Yes),"(Age_Adult, Gender_Female)",0.323035,0.193094,0.143571,0.444444,2.301699,1.0,0.081195,1.452431,0.835403,0.385366,0.311499,0.593987
19,(Survived_Yes),(Gender_Female),0.323035,0.213539,0.156293,0.483826,2.265745,1.0,0.087312,1.523634,0.825219,0.410992,0.343674,0.607870
18,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,1.0,0.087312,2.525187,0.710327,0.410992,0.603990,0.607870
68,(Gender_Female),"(Age_Adult, Survived_Yes)",0.213539,0.297138,0.143571,0.672340,2.262724,1.0,0.080121,2.145099,0.709577,0.391089,0.533821,0.577760
65,"(Age_Adult, Survived_Yes)",(Gender_Female),0.297138,0.213539,0.143571,0.483180,2.262724,1.0,0.080121,1.521732,0.793974,0.391089,0.342854,0.577760
97,"(Gender_Male, Age_Adult)","(Survived_No, Class_Crew)",0.757383,0.305770,0.304407,0.401920,1.314450,1.0,0.072822,1.160764,0.986022,0.401198,0.138498,0.698731
100,"(Survived_No, Class_Crew)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,1.0,0.072822,54.427079,0.344592,0.401198,0.981627,0.698731
51,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,1.0,0.087104,9.335480,0.371976,0.510059,0.892882,0.745554
46,"(Gender_Male, Age_Adult)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,1.0,0.087104,1.238157,0.916706,0.510059,0.192348,0.745554
55,(Gender_Male),"(Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,1.0,0.063931,1.132622,0.983509,0.386390,0.117093,0.691301
54,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,1.0,0.063931,47.903983,0.302519,0.386390,0.979125,0.691301
102,(Gender_Male),"(Age_Adult, Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,1.0,0.063931,1.132622,0.983509,0.386390,0.117093,0.691301
95,"(Age_Adult, Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,1.0,0.063931,47.903983,0.302519,0.386390,0.979125,0.691301
105,(Class_Crew),"(Gender_Male, Survived_No, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,1.0,0.061619,1.630802,0.338549,0.433938,0.386805,0.630600
92,"(Gender_Male, Survived_No, Age_Adult)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,1.0,0.061619,1.205800,0.510929,0.433938,0.170675,0.630600
49,(Gender_Male),"(Age_Adult, Class_Crew)",0.786461,0.402090,0.391640,0.497978,1.238474,1.0,0.075412,1.191004,0.901730,0.491448,0.160372,0.735995
48,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,1.0,0.075412,8.216621,0.322047,0.491448,0.878295,0.735995
11,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,1.0,0.075412,8.216621,0.322047,0.491448,0.878295,0.735995
10,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,1.0,0.075412,1.191004,0.901730,0.491448,0.160372,0.735995

In [306]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Age_Adult),(Class_1st),0.950477,0.147660,0.144934,0.152486,1.032680,1.0,0.004587,1.005694,0.639010,0.152050,0.005661,0.567012
1,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,1.0,0.004587,2.682493,0.037128,0.152050,0.627212,0.567012
8,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,1.0,0.022745,1.052040,0.293515,0.316547,0.049466,0.551119
9,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,1.0,0.022745,1.281251,0.139592,0.316547,0.219513,0.551119
10,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,1.0,0.075412,1.191004,0.901730,0.491448,0.160372,0.735995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,"(Age_Adult, Class_Crew)","(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,1.0,0.055225,1.565346,0.303418,0.424319,0.361163,0.624132
102,(Gender_Male),"(Age_Adult, Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,1.0,0.063931,1.132622,0.983509,0.386390,0.117093,0.691301
103,(Survived_No),"(Gender_Male, Age_Adult, Class_Crew)",0.676965,0.391640,0.304407,0.449664,1.148157,1.0,0.039280,1.105434,0.399458,0.398335,0.095378,0.613463
104,(Age_Adult),"(Gender_Male, Survived_No, Class_Crew)",0.950477,0.304407,0.304407,0.320268,1.052103,1.0,0.015075,1.023334,1.000000,0.320268,0.022802,0.660134
105,(Class_Crew),"(Gender_Male, Survived_No, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,1.0,0.061619,1.630802,0.338549,0.433938,0.386805,0.630600

In [308]:
# We have to check for Survived_yes in first 2 columns. The allied itemd in both the columns will have a close relation with it

# Another Example with Retail_Dataset

In [313]:
retail = pd.read_csv("Datasets\\retail_dataset.csv")
retail

          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4      Meat  Pencil    Wine     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...
310   Bread    Eggs  Cheese     NaN     NaN     NaN     NaN
311    Meat    Milk  Pencil     NaN     NaN     NaN     NaN
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
313    Meat  Cheese     NaN     NaN     NaN     NaN     NaN
314    Eggs    Wine   Bagel   Bread    Meat     NaN     NaN

[315 rows x 7 columns]

In [315]:
retail.shape

(315, 7)

In [319]:
retail['0'].unique()

array(['Bread', 'Cheese', 'Meat', 'Eggs', 'Wine', 'Bagel', 'Pencil',
       'Diaper', 'Milk'], dtype=object)

In [339]:
items = retail['1'].unique()

In [341]:
for i in retail.iterrows():
    print(i)

(0, 0     Bread
1      Wine
2      Eggs
3      Meat
4    Cheese
5    Pencil
6    Diaper
Name: 0, dtype: object)
(1, 0     Bread
1    Cheese
2      Meat
3    Diaper
4      Wine
5      Milk
6    Pencil
Name: 1, dtype: object)
(2, 0    Cheese
1      Meat
2      Eggs
3      Milk
4      Wine
5       NaN
6       NaN
Name: 2, dtype: object)
(3, 0    Cheese
1      Meat
2      Eggs
3      Milk
4      Wine
5       NaN
6       NaN
Name: 3, dtype: object)
(4, 0      Meat
1    Pencil
2      Wine
3       NaN
4       NaN
5       NaN
6       NaN
Name: 4, dtype: object)
(5, 0      Eggs
1     Bread
2      Wine
3    Pencil
4      Milk
5    Diaper
6     Bagel
Name: 5, dtype: object)
(6, 0      Wine
1    Pencil
2      Eggs
3    Cheese
4       NaN
5       NaN
6       NaN
Name: 6, dtype: object)
(7, 0     Bagel
1     Bread
2      Milk
3    Pencil
4    Diaper
5       NaN
6       NaN
Name: 7, dtype: object)
(8, 0     Bread
1    Diaper
2    Cheese
3      Milk
4      Wine
5      Eggs
6       NaN
Name: 8, dtype: object)
(9, 0     Bagel
1      Wine
2    Diaper
3      Meat
4    Pencil
5      Eggs
6    Cheese
Name: 9, dtype: object)
(10, 0    Cheese
1      Meat
2      Eggs
3      Milk
4      Wine
5       NaN
6       NaN
Name: 10, dtype: object)
(11, 0     Bagel
1      Eggs
2      Meat
3     Bread
4    Diaper
5      Wine
6      Milk
Name: 11, dtype: object)
(12, 0     Bread
1    Diaper
2    Pencil
3     Bagel
4      Meat
5       NaN
6       NaN
Name: 12, dtype: object)
(13, 0     Bagel
1    Cheese
2      Milk
3      Meat
4       NaN
5       NaN
6       NaN
Name: 13, dtype: object)
(14, 0    Bread
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
Name: 14, dtype: object)
(15, 0    Pencil
1    Diaper
2     Bagel
3       NaN
4       NaN
5       NaN
6       NaN
Name: 15, dtype: object)
(16, 0     Meat
1    Bagel
2    Bread
3      NaN
4      NaN
5      NaN
6      NaN
Name: 16, dtype: object)
(17, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 17, dtype: object)
(18, 0    Diaper
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 18, dtype: object)
(19, 0     Bagel
1    Cheese
2      Meat
3     Bread
4    Diaper
5      Eggs
6       NaN
Name: 19, dtype: object)
(20, 0      Meat
1    Pencil
2    Cheese
3     Bread
4       NaN
5       NaN
6       NaN
Name: 20, dtype: object)
(21, 0    Cheese
1      Eggs
2      Wine
3     Bread
4      Milk
5    Pencil
6      Meat
Name: 21, dtype: object)
(22, 0      Eggs
1     Bagel
2    Cheese
3      Meat
4    Diaper
5       NaN
6       NaN
Name: 22, dtype: object)
(23, 0    Diaper
1      Wine
2      Eggs
3    Pencil
4      Meat
5       NaN
6       NaN
Name: 23, dtype: object)
(24, 0    Diaper
1      Meat
2      Milk
3     Bread
4     Bagel
5    Cheese
6       NaN
Name: 24, dtype: object)
(25, 0    Pencil
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 25, dtype: object)
(26, 0    Cheese
1      Meat
2      Eggs
3      Milk
4      Wine
5       NaN
6       NaN
Name: 26, dtype: object)
(27, 0    Diaper
1      Meat
2     Bread
3    Pencil
4      Wine
5    Cheese
6      Milk
Name: 27, dtype: object)
(28, 0    Bread
1    Bagel
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
Name: 28, dtype: object)
(29, 0      Meat
1     Bread
2      Eggs
3    Cheese
4      Milk
5    Diaper
6       NaN
Name: 29, dtype: object)
(30, 0    Diaper
1      Meat
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 30, dtype: object)
(31, 0    Cheese
1     Bagel
2     Bread
3    Diaper
4      Wine
5       NaN
6       NaN
Name: 31, dtype: object)
(32, 0    Cheese
1      Milk
2     Bread
3       NaN
4       NaN
5       NaN
6       NaN
Name: 32, dtype: object)
(33, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 33, dtype: object)
(34, 0    Diaper
1     Bread
2      Wine
3      Meat
4     Bagel
5       NaN
6       NaN
Name: 34, dtype: object)
(35, 0     Bread
1    Cheese
2      Milk
3      Wine
4    Diaper
5       NaN
6       NaN
Name: 35, dtype: object)
(36, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 36, dtype: object)
(37, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 37, dtype: object)
(38, 0    Eggs
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 38, dtype: object)
(39, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 39, dtype: object)
(40, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 40, dtype: object)
(41, 0    Meat
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 41, dtype: object)
(42, 0      Eggs
1      Wine
2      Milk
3    Cheese
4    Pencil
5     Bagel
6     Bread
Name: 42, dtype: object)
(43, 0    Bagel
1     Eggs
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
Name: 43, dtype: object)
(44, 0    Diaper
1      Wine
2      Meat
3       NaN
4       NaN
5       NaN
6       NaN
Name: 44, dtype: object)
(45, 0    Diaper
1     Bread
2     Bagel
3      Eggs
4      Wine
5      Milk
6    Cheese
Name: 45, dtype: object)
(46, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 46, dtype: object)
(47, 0    Eggs
1    Wine
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 47, dtype: object)
(48, 0    Cheese
1      Meat
2      Eggs
3      Milk
4      Wine
5       NaN
6       NaN
Name: 48, dtype: object)
(49, 0    Wine
1    Milk
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 49, dtype: object)
(50, 0    Diaper
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 50, dtype: object)
(51, 0      Wine
1     Bread
2     Bagel
3    Diaper
4      Milk
5       NaN
6       NaN
Name: 51, dtype: object)
(52, 0    Cheese
1      Meat
2      Eggs
3      Milk
4      Wine
5       NaN
6       NaN
Name: 52, dtype: object)
(53, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 53, dtype: object)
(54, 0    Cheese
1    Diaper
2      Meat
3      Wine
4     Bread
5       NaN
6       NaN
Name: 54, dtype: object)
(55, 0      Wine
1      Milk
2    Diaper
3    Pencil
4    Cheese
5      Eggs
6       NaN
Name: 55, dtype: object)
(56, 0    Cheese
1      Eggs
2      Meat
3    Diaper
4      Wine
5      Milk
6     Bread
Name: 56, dtype: object)
(57, 0    Diaper
1      Eggs
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 57, dtype: object)
(58, 0    Cheese
1      Meat
2      Eggs
3      Milk
4      Wine
5       NaN
6       NaN
Name: 58, dtype: object)
(59, 0      Wine
1    Cheese
2     Bagel
3    Pencil
4     Bread
5      Meat
6    Diaper
Name: 59, dtype: object)
(60, 0      Milk
1    Pencil
2    Cheese
3     Bagel
4       NaN
5       NaN
6       NaN
Name: 60, dtype: object)
(61, 0      Meat
1    Cheese
2    Diaper
3      Wine
4       NaN
5       NaN
6       NaN
Name: 61, dtype: object)
(62, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 62, dtype: object)
(63, 0     Bread
1      Meat
2    Pencil
3      Milk
4      Wine
5    Diaper
6       NaN
Name: 63, dtype: object)
(64, 0    Pencil
1    Cheese
2    Diaper
3      Wine
4      Eggs
5       NaN
6       NaN
Name: 64, dtype: object)
(65, 0     Bread
1    Diaper
2      Milk
3    Pencil
4    Cheese
5      Eggs
6       NaN
Name: 65, dtype: object)
(66, 0    Pencil
1      Milk
2    Cheese
3       NaN
4       NaN
5       NaN
6       NaN
Name: 66, dtype: object)
(67, 0     Eggs
1    Bagel
2    Bread
3      NaN
4      NaN
5      NaN
6      NaN
Name: 67, dtype: object)
(68, 0    Diaper
1     Bread
2    Cheese
3     Bagel
4      Meat
5    Pencil
6       NaN
Name: 68, dtype: object)
(69, 0     Bread
1     Bagel
2      Milk
3    Diaper
4       NaN
5       NaN
6       NaN
Name: 69, dtype: object)
(70, 0     Eggs
1    Bread
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
Name: 70, dtype: object)
(71, 0    Pencil
1      Milk
2    Diaper
3      Eggs
4       NaN
5       NaN
6       NaN
Name: 71, dtype: object)
(72, 0    Pencil
1      Milk
2      Meat
3    Cheese
4       NaN
5       NaN
6       NaN
Name: 72, dtype: object)
(73, 0     Bagel
1     Bread
2    Diaper
3    Cheese
4      Meat
5       NaN
6       NaN
Name: 73, dtype: object)
(74, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 74, dtype: object)
(75, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 75, dtype: object)
(76, 0     Bread
1      Wine
2      Eggs
3     Bagel
4    Cheese
5    Pencil
6    Diaper
Name: 76, dtype: object)
(77, 0    Diaper
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 77, dtype: object)
(78, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 78, dtype: object)
(79, 0    Milk
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 79, dtype: object)
(80, 0     Bread
1    Pencil
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 80, dtype: object)
(81, 0      Wine
1      Milk
2    Cheese
3       NaN
4       NaN
5       NaN
6       NaN
Name: 81, dtype: object)
(82, 0    Cheese
1     Bagel
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 82, dtype: object)
(83, 0    Pencil
1    Diaper
2      Wine
3       NaN
4       NaN
5       NaN
6       NaN
Name: 83, dtype: object)
(84, 0      Eggs
1      Meat
2    Cheese
3       NaN
4       NaN
5       NaN
6       NaN
Name: 84, dtype: object)
(85, 0      Meat
1     Bagel
2    Pencil
3       NaN
4       NaN
5       NaN
6       NaN
Name: 85, dtype: object)
(86, 0      Meat
1      Eggs
2     Bagel
3    Cheese
4      Wine
5       NaN
6       NaN
Name: 86, dtype: object)
(87, 0     Bread
1    Cheese
2      Wine
3     Bagel
4      Milk
5      Meat
6       NaN
Name: 87, dtype: object)
(88, 0      Meat
1    Cheese
2    Pencil
3      Wine
4     Bread
5       NaN
6       NaN
Name: 88, dtype: object)
(89, 0      Milk
1    Cheese
2      Wine
3     Bagel
4      Meat
5    Pencil
6     Bread
Name: 89, dtype: object)
(90, 0    Pencil
1    Cheese
2      Wine
3      Milk
4    Diaper
5     Bagel
6       NaN
Name: 90, dtype: object)
(91, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 91, dtype: object)
(92, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 92, dtype: object)
(93, 0    Cheese
1    Diaper
2    Pencil
3     Bagel
4      Wine
5      Meat
6      Eggs
Name: 93, dtype: object)
(94, 0      Eggs
1      Meat
2      Wine
3     Bagel
4      Milk
5    Cheese
6    Diaper
Name: 94, dtype: object)
(95, 0    Meat
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 95, dtype: object)
(96, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 96, dtype: object)
(97, 0    Pencil
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 97, dtype: object)
(98, 0      Wine
1    Diaper
2     Bread
3    Cheese
4       NaN
5       NaN
6       NaN
Name: 98, dtype: object)
(99, 0     Bagel
1    Pencil
2      Wine
3      Meat
4       NaN
5       NaN
6       NaN
Name: 99, dtype: object)
(100, 0     Wine
1    Bread
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
Name: 100, dtype: object)
(101, 0     Bread
1      Milk
2      Eggs
3    Cheese
4      Wine
5    Pencil
6       NaN
Name: 101, dtype: object)
(102, 0    Cheese
1      Milk
2      Meat
3      Eggs
4     Bagel
5       NaN
6       NaN
Name: 102, dtype: object)
(103, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 103, dtype: object)
(104, 0    Diaper
1      Wine
2      Meat
3      Eggs
4       NaN
5       NaN
6       NaN
Name: 104, dtype: object)
(105, 0      Meat
1    Diaper
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 105, dtype: object)
(106, 0    Pencil
1      Wine
2     Bread
3      Milk
4       NaN
5       NaN
6       NaN
Name: 106, dtype: object)
(107, 0     Bagel
1     Bread
2      Eggs
3      Milk
4    Pencil
5      Meat
6      Wine
Name: 107, dtype: object)
(108, 0      Milk
1    Cheese
2      Wine
3      Meat
4     Bagel
5    Diaper
6     Bread
Name: 108, dtype: object)
(109, 0     Bagel
1    Diaper
2      Milk
3    Cheese
4      Wine
5       NaN
6       NaN
Name: 109, dtype: object)
(110, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 110, dtype: object)
(111, 0    Diaper
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 111, dtype: object)
(112, 0     Bagel
1    Pencil
2     Bread
3    Cheese
4      Eggs
5       NaN
6       NaN
Name: 112, dtype: object)
(113, 0     Bread
1      Eggs
2    Cheese
3       NaN
4       NaN
5       NaN
6       NaN
Name: 113, dtype: object)
(114, 0      Meat
1      Milk
2    Pencil
3       NaN
4       NaN
5       NaN
6       NaN
Name: 114, dtype: object)
(115, 0     Bread
1    Cheese
2      Eggs
3      Meat
4    Pencil
5    Diaper
6      Wine
Name: 115, dtype: object)
(116, 0      Meat
1    Cheese
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 116, dtype: object)
(117, 0     Eggs
1     Wine
2    Bagel
3    Bread
4     Meat
5      NaN
6      NaN
Name: 117, dtype: object)
(118, 0     Bagel
1    Cheese
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 118, dtype: object)
(119, 0     Bagel
1    Pencil
2    Diaper
3      Wine
4      Meat
5       NaN
6       NaN
Name: 119, dtype: object)
(120, 0      Milk
1    Pencil
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 120, dtype: object)
(121, 0    Pencil
1      Wine
2     Bagel
3      Eggs
4    Diaper
5       NaN
6       NaN
Name: 121, dtype: object)
(122, 0     Bread
1      Meat
2      Milk
3    Cheese
4      Wine
5      Eggs
6    Pencil
Name: 122, dtype: object)
(123, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 123, dtype: object)
(124, 0    Pencil
1     Bread
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 124, dtype: object)
(125, 0     Eggs
1     Milk
2    Bagel
3     Wine
4      NaN
5      NaN
6      NaN
Name: 125, dtype: object)
(126, 0    Cheese
1    Pencil
2      Meat
3      Eggs
4      Milk
5     Bagel
6      Wine
Name: 126, dtype: object)
(127, 0    Cheese
1      Milk
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 127, dtype: object)
(128, 0    Diaper
1    Pencil
2      Milk
3     Bread
4       NaN
5       NaN
6       NaN
Name: 128, dtype: object)
(129, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 129, dtype: object)
(130, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 130, dtype: object)
(131, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 131, dtype: object)
(132, 0    Diaper
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 132, dtype: object)
(133, 0      Meat
1     Bread
2      Wine
3    Diaper
4     Bagel
5       NaN
6       NaN
Name: 133, dtype: object)
(134, 0    Bagel
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
Name: 134, dtype: object)
(135, 0      Wine
1    Diaper
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 135, dtype: object)
(136, 0      Meat
1    Diaper
2      Eggs
3    Cheese
4     Bagel
5       NaN
6       NaN
Name: 136, dtype: object)
(137, 0     Bread
1    Pencil
2     Bagel
3      Eggs
4       NaN
5       NaN
6       NaN
Name: 137, dtype: object)
(138, 0      Milk
1      Eggs
2      Meat
3    Cheese
4     Bread
5      Wine
6    Pencil
Name: 138, dtype: object)
(139, 0    Pencil
1      Eggs
2      Meat
3       NaN
4       NaN
5       NaN
6       NaN
Name: 139, dtype: object)
(140, 0    Pencil
1     Bagel
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 140, dtype: object)
(141, 0     Bread
1     Bagel
2      Meat
3    Cheese
4      Eggs
5    Pencil
6       NaN
Name: 141, dtype: object)
(142, 0      Milk
1      Eggs
2     Bread
3    Cheese
4       NaN
5       NaN
6       NaN
Name: 142, dtype: object)
(143, 0    Milk
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 143, dtype: object)
(144, 0    Pencil
1      Meat
2     Bread
3     Bagel
4    Cheese
5       NaN
6       NaN
Name: 144, dtype: object)
(145, 0      Wine
1      Eggs
2     Bread
3    Diaper
4       NaN
5       NaN
6       NaN
Name: 145, dtype: object)
(146, 0      Meat
1    Cheese
2      Eggs
3     Bagel
4      Wine
5     Bread
6       NaN
Name: 146, dtype: object)
(147, 0      Meat
1    Cheese
2     Bread
3      Milk
4       NaN
5       NaN
6       NaN
Name: 147, dtype: object)
(148, 0    Cheese
1      Milk
2    Pencil
3      Eggs
4     Bread
5      Meat
6       NaN
Name: 148, dtype: object)
(149, 0    Bread
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
Name: 149, dtype: object)
(150, 0     Bread
1      Eggs
2     Bagel
3    Diaper
4      Milk
5      Meat
6    Pencil
Name: 150, dtype: object)
(151, 0      Milk
1    Diaper
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 151, dtype: object)
(152, 0    Cheese
1      Eggs
2      Meat
3      Wine
4     Bagel
5    Diaper
6     Bread
Name: 152, dtype: object)
(153, 0    Diaper
1     Bagel
2     Bread
3    Pencil
4    Cheese
5      Milk
6       NaN
Name: 153, dtype: object)
(154, 0    Diaper
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 154, dtype: object)
(155, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 155, dtype: object)
(156, 0    Cheese
1      Wine
2      Meat
3     Bagel
4       NaN
5       NaN
6       NaN
Name: 156, dtype: object)
(157, 0    Cheese
1    Diaper
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 157, dtype: object)
(158, 0      Wine
1    Cheese
2      Meat
3    Pencil
4      Eggs
5       NaN
6       NaN
Name: 158, dtype: object)
(159, 0      Eggs
1     Bagel
2    Pencil
3      Wine
4    Cheese
5       NaN
6       NaN
Name: 159, dtype: object)
(160, 0     Bagel
1    Diaper
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
Name: 160, dtype: object)
(161, 0    Meat
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 161, dtype: object)
(162, 0    Bread
1     Eggs
2     Wine
3      NaN
4      NaN
5      NaN
6      NaN
Name: 162, dtype: object)
(163, 0     Bread
1      Milk
2    Pencil
3      Wine
4      Eggs
5     Bagel
6       NaN
Name: 163, dtype: object)
(164, 0     Milk
1    Bread
2    Bagel
3      NaN
4      NaN
5      NaN
6      NaN
Name: 164, dtype: object)
(165, 0    Bagel
1     Eggs
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
Name: 165, dtype: object)
(166, 0      Wine
1    Cheese
2      Milk
3      Meat
4     Bread
5      Eggs
6       NaN
Name: 166, dtype: object)
(167, 0    Meat
1    Wine
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 167, dtype: object)
(168, 0     Wine
1    Bread
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
Name: 168, dtype: object)
(169, 0    Meat
1    Eggs
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
Name: 169, dtype: object)
(170, 0     Bagel
1      Milk
2      Wine
3    Pencil
4    Cheese
5       NaN
6       NaN
Name: 170, dtype: object)
(171, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 171, dtype: object)
(172, 0     Bread
1    Diaper
2    Pencil
3     Bagel
4    Cheese
5       NaN
6       NaN
Name: 172, dtype: object)
(173, 0     Bread
1    Pencil
2    Diaper
3    Cheese
4       NaN
5       NaN
6       NaN
Name: 173, dtype: object)
(174, 0    Cheese
1      Meat
2      Eggs
3      Milk
4       NaN
5       NaN
6       NaN
Name: 174, dtype: object)
(175, 0      Eggs
1     Bagel
2      Meat
3    Diaper
4    Pencil
5      Milk
6     Bread
Name: 175, dtype: object)
(176, 0    Bread
1    Bagel
2     Milk
3      NaN
4      NaN
5      NaN
6      NaN
Name: 176, dtype: object)
(177, 0    Diaper
1      Meat

In [343]:
# One-hot encoding
encoded_vals = []
for index, row in retail.iterrows(): # iterrows() returns index and content for each row
    labels = {}
    uncommons = list(set(items) - set(row))#total 9 items (Bagel,Milk,...,pencil) - items present in row = Bagel, Milk (for 1st row these 2 items are not present)
    commons = list(set(items).intersection(row))# common items
    for uc in uncommons:
        labels[uc] = 0 # assign 0 to uncommon items
    for com in commons:
        labels[com] = 1# assign 1 to common items
    encoded_vals.append(labels)

In [345]:
encoded_vals

[{nan: 0,
  'Milk': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1},
 {nan: 0,
  'Eggs': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Milk': 1,
  'Meat': 1},
 {'Bagel': 0,
  'Bread': 0,
  'Diaper': 0,
  'Pencil': 0,
  'Wine': 1,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bagel': 0,
  'Bread': 0,
  'Diaper': 0,
  'Pencil': 0,
  'Wine': 1,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Wine': 1,
  'Pencil': 1,
  'Meat': 1,
  nan: 1},
 {'Meat': 0,
  'Cheese': 0,
  nan: 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Milk': 1,
  'Bagel': 1,
  'Eggs': 1},
 {'Bread': 0,
  'Diaper': 0,
  'Milk': 0,
  'Bagel': 0,
  'Meat': 0,
  'Wine': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Eggs': 1,
  nan: 1},
 {'Wine': 0,
  'Eggs': 0,
  'Meat': 0,
  'Cheese': 0,
  'Bread': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Milk': 1,
  'Bagel': 1,
  nan: 1},
 {'Pencil': 0,
  'Meat': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  nan: 1},
 {'Bread': 0,
  'Milk': 0,
  nan: 0,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Bagel': 0,
  'Bread': 0,
  'Diaper': 0,
  'Pencil': 0,
  'Wine': 1,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Pencil': 0,
  'Cheese': 0,
  nan: 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Milk': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Wine': 0,
  'Milk': 0,
  'Eggs': 0,
  'Cheese': 0,
  'Bread': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Eggs': 0,
  'Milk': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  'Bread': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Milk': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Pencil': 1,
  'Diaper': 1,
  'Bagel': 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Eggs': 0,
  nan: 1,
  'Bread': 1,
  'Meat': 1,
  'Bagel': 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  'Diaper': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Milk': 0,
  'Bread': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Diaper': 0,
  'Milk': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Bread': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Meat': 1,
  nan: 1},
 {nan: 0,
  'Diaper': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Milk': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Wine': 0,
  'Bread': 0,
  'Milk': 0,
  'Pencil': 0,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Milk': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Eggs': 0,
  'Bread': 1,
  'Diaper': 1,
  'Milk': 1,
  'Bagel': 1,
  'Cheese': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  'Pencil': 1,
  nan: 1},
 {'Bagel': 0,
  'Bread': 0,
  'Diaper': 0,
  'Pencil': 0,
  'Wine': 1,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {nan: 0,
  'Eggs': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Milk': 1,
  'Meat': 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Bagel': 1},
 {'Wine': 0,
  'Pencil': 0,
  'Bagel': 0,
  'Bread': 1,
  'Diaper': 1,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  nan: 1,
  'Diaper': 1,
  'Meat': 1},
 {'Pencil': 0,
  'Meat': 0,
  'Eggs': 0,
  'Milk': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Milk': 1,
  'Bread': 1,
  'Cheese': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Pencil': 0,
  'Milk': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Pencil': 0,
  'Meat': 0,
  'Eggs': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Milk': 1,
  'Cheese': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Meat': 0,
  'Eggs': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 1,
  nan: 1},
 {nan: 0,
  'Diaper': 0,
  'Meat': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Milk': 1,
  'Bagel': 1,
  'Eggs': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Milk': 0,
  'Meat': 0,
  nan: 1,
  'Eggs': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Pencil': 0,
  'Milk': 0,
  'Bagel': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Wine': 1,
  nan: 1,
  'Diaper': 1,
  'Meat': 1},
 {'Pencil': 0,
  'Meat': 0,
  nan: 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Milk': 1,
  'Bagel': 1,
  'Cheese': 1,
  'Eggs': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Meat': 0,
  'Wine': 1,
  'Eggs': 1,
  nan: 1},
 {'Bagel': 0,
  'Bread': 0,
  'Diaper': 0,
  'Pencil': 0,
  'Wine': 1,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Wine': 1,
  'Milk': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  'Diaper': 1,
  nan: 1},
 {'Pencil': 0,
  'Meat': 0,
  'Eggs': 0,
  'Cheese': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Milk': 1,
  'Bagel': 1,
  nan: 1},
 {'Bagel': 0,
  'Bread': 0,
  'Diaper': 0,
  'Pencil': 0,
  'Wine': 1,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Pencil': 0,
  'Eggs': 0,
  'Milk': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Meat': 0,
  'Bagel': 0,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Milk': 1,
  'Eggs': 1,
  nan: 1},
 {nan: 0,
  'Pencil': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Milk': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Meat': 0,
  'Eggs': 1,
  'Diaper': 1,
  nan: 1},
 {'Bagel': 0,
  'Bread': 0,
  'Diaper': 0,
  'Pencil': 0,
  'Wine': 1,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Eggs': 0,
  'Milk': 0,
  nan: 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Meat': 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Eggs': 0,
  'Meat': 0,
  'Pencil': 1,
  'Cheese': 1,
  'Milk': 1,
  'Bagel': 1,
  nan: 1},
 {'Bread': 0,
  'Pencil': 0,
  'Milk': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Wine': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Eggs': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Milk': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Meat': 0,
  'Milk': 0,
  'Bagel': 0,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Eggs': 1,
  nan: 1},
 {'Wine': 0,
  'Meat': 0,
  'Bagel': 0,
  'Bread': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Milk': 1,
  'Eggs': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Pencil': 1,
  'Cheese': 1,
  'Milk': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Meat': 0,
  nan: 1,
  'Eggs': 1,
  'Bread': 1,
  'Bagel': 1},
 {'Wine': 0,
  'Eggs': 0,
  'Milk': 0,
  'Bread': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  'Bread': 1,
  'Diaper': 1,
  'Milk': 1,
  'Bagel': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Meat': 0,
  'Eggs': 1,
  'Bread': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Meat': 0,
  'Pencil': 1,
  'Diaper': 1,
  'Milk': 1,
  'Eggs': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Pencil': 1,
  'Cheese': 1,
  'Milk': 1,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Eggs': 0,
  'Milk': 0,
  'Bread': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Meat': 0,
  'Milk': 0,
  nan: 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  'Diaper': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Milk': 1,
  nan: 1},
 {'Wine': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Pencil': 1},
 {'Bread': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Wine': 1,
  'Cheese': 1,
  'Milk': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Cheese': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Milk': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Bagel': 0,
  'Eggs': 1,
  'Meat': 1,
  'Cheese': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Eggs': 0,
  nan: 1,
  'Pencil': 1,
  'Meat': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Diaper': 0,
  'Milk': 0,
  'Pencil': 0,
  'Wine': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Pencil': 0,
  'Diaper': 0,
  'Eggs': 0,
  'Bread': 1,
  'Wine': 1,
  'Milk': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Eggs': 0,
  'Diaper': 0,
  'Milk': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Meat': 1,
  nan: 1},
 {'Eggs': 0,
  'Diaper': 0,
  nan: 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Milk': 1,
  'Bagel': 1,
  'Meat': 1},
 {'Bread': 0,
  'Meat': 0,
  'Eggs': 0,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Milk': 1,
  'Cheese': 1,
  'Bagel': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Milk': 0,
  nan: 0,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1},
 {nan: 0,
  'Bread': 0,
  'Pencil': 0,
  'Wine': 1,
  'Diaper': 1,
  'Milk': 1,
  'Bagel': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  'Pencil': 1,
  nan: 1},
 {'Pencil': 0,
  'Milk': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Cheese': 1,
  nan: 1},
 {'Bread': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Wine': 1,
  'Pencil': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Wine': 1,
  'Bread': 1,
  nan: 1},
 {'Diaper': 0,
  'Meat': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Milk': 1,
  'Eggs': 1,
  nan: 1},
 {'Wine': 0,
  'Bread': 0,
  'Diaper': 0,
  'Pencil': 0,
  'Milk': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Pencil': 0,
  'Milk': 0,
  'Bagel': 0,
  'Cheese': 0,
  'Wine': 1,
  'Diaper': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  nan: 1,
  'Meat': 1,
  'Diaper': 1},
 {'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Milk': 1,
  nan: 1},
 {'Diaper': 0,
  'Cheese': 0,
  nan: 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Milk': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Pencil': 0,
  'Eggs': 0,
  nan: 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Milk': 1,
  'Bagel': 1,
  'Meat': 1},
 {'Bread': 0,
  'Meat': 0,
  'Eggs': 0,
  'Pencil': 0,
  'Wine': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Milk': 1,
  'Bagel': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  'Diaper': 1,
  nan: 1},
 {'Wine': 0,
  'Diaper': 0,
  'Milk': 0,
  'Meat': 0,
  'Bread': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Bagel': 0,
  'Meat': 0,
  'Bread': 1,
  'Eggs': 1,
  'Cheese': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Pencil': 1,
  'Meat': 1,
  'Milk': 1,
  nan: 1},
 {nan: 0,
  'Milk': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 1,
  'Cheese': 1,
  nan: 1},
 {'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Bread': 1,
  'Wine': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Cheese': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Milk': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Pencil': 1,
  'Milk': 1,
  nan: 1},
 {'Bread': 0,
  'Meat': 0,
  'Milk': 0,
  'Cheese': 0,
  'Wine': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Bagel': 1,
  'Eggs': 1,
  nan: 1},
 {nan: 0,
  'Diaper': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Milk': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Wine': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Pencil': 1,
  'Bread': 1,
  nan: 1},
 {'Bread': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Meat': 0,
  'Wine': 1,
  'Milk': 1,
  'Bagel': 1,
  'Eggs': 1,
  nan: 1},
 {'Bread': 0,
  'Diaper': 0,
  nan: 0,
  'Wine': 1,
  'Pencil': 1,
  'Milk': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Milk': 1,
  'Cheese': 1,
  nan: 1},
 {'Wine': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Bread': 1,
  'Pencil': 1,
  'Diaper': 1,
  'Milk': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Milk': 1,
  'Cheese': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bread': 1,
  'Milk': 1,
  'Bagel': 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  'Diaper': 1,
  nan: 1},
 {'Pencil': 0,
  'Milk': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Milk': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Bagel': 1},
 {'Bread': 0,
  'Pencil': 0,
  'Milk': 0,
  'Bagel': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  'Wine': 1,
  'Diaper': 1,
  nan: 1},
 {'Wine': 0,
  'Bread': 0,
  'Milk': 0,
  'Pencil': 0,
  'Diaper': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Meat': 0,
  'Bread': 1,
  'Pencil': 1,
  'Bagel': 1,
  'Eggs': 1,
  nan: 1},
 {nan: 0,
  'Diaper': 0,
  'Bagel': 0,
  'Bread': 1,
  'Wine': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Milk': 1,
  'Eggs': 1,
  'Meat': 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Milk': 0,
  'Pencil': 1,
  'Meat': 1,
  'Eggs': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Diaper': 0,
  'Milk': 0,
  'Cheese': 0,
  'Eggs': 0,
  'Meat': 0,
  nan: 1,
  'Pencil': 1,
  'Bagel': 1},
 {'Wine': 0,
  'Diaper': 0,
  'Milk': 0,
  'Bread': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},
 {'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Bagel': 0,
  'Meat': 0,
  'Bread': 1,
  'Cheese': 1,
  'Milk': 1,
  'Eggs': 1,
  nan: 1},
 {'Bread': 0,
  'Wine': 0,
  'Pencil': 0,
  'Diaper': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Eggs': 0,
  'Meat': 0,
  'Milk': 1,
  nan: 1},
 {'Wine': 0,
  'Eggs': 0,
  'Diaper': 0,
  'Milk': 0,
  'Bread': 1,
  'Pencil': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Meat': 1,
  nan: 1},
 {'Pencil': 0,
  'Milk': 0,
  'Cheese': 0,
  'Bagel': 0,
  'Meat': 0,
  'Bread': 1,
  'Wine': 1,
  'Diaper': 1,
  'Eggs': 1,
  nan: 1},
 {'Pencil': 0,
  'Diaper': 0,
  'Milk': 0,
  'Bread': 1,
  'Wine': 1,
  'Cheese': 1,
  'Bagel': 1,
  'Eggs': 1,
  'Meat': 1,
  nan: 1},

In [347]:
ohe_df = pd.DataFrame(encoded_vals)

In [349]:
ohe_df

     NaN  Milk  Bagel  Bread  Wine  Pencil  Diaper  Cheese  Eggs  Meat
0      0     0      0      1     1       1       1       1     1     1
1      0     1      0      1     1       1       1       1     0     1
2      1     1      0      0     1       0       0       1     1     1
3      1     1      0      0     1       0       0       1     1     1
4      1     0      0      0     1       1       0       0     0     1
..   ...   ...    ...    ...   ...     ...     ...     ...   ...   ...
310    1     0      0      1     0       0       0       1     1     0
311    1     1      0      0     0       1       0       0     0     1
312    0     0      0      1     1       1       1       1     1     1
313    1     0      0      0     0       0       0       1     0     1
314    1     0      1      1     1       0       0       0     1     1

[315 rows x 10 columns]

In [379]:
ohe_df.drop(columns=ohe_df.columns[0],inplace=True)
ohe_df

     Milk  Bagel  Bread  Wine  Pencil  Diaper  Cheese  Eggs  Meat
0       0      0      1     1       1       1       1     1     1
1       1      0      1     1       1       1       1     0     1
2       1      0      0     1       0       0       1     1     1
3       1      0      0     1       0       0       1     1     1
4       0      0      0     1       1       0       0     0     1
..    ...    ...    ...   ...     ...     ...     ...   ...   ...
310     0      0      1     0       0       0       1     1     0
311     1      0      0     0       1       0       0     0     1
312     0      0      1     1       1       1       1     1     1
313     0      0      0     0       0       0       1     0     1
314     0      1      1     1       0       0       0     1     1

[315 rows x 9 columns]

In [385]:
freq_items = apriori(ohe_df,min_support=0.2,use_colnames=True)

In [387]:
freq_items

     support              itemsets
0   0.501587                (Milk)
1   0.425397               (Bagel)
2   0.504762               (Bread)
3   0.438095                (Wine)
4   0.361905              (Pencil)
5   0.406349              (Diaper)
6   0.501587              (Cheese)
7   0.438095                (Eggs)
8   0.476190                (Meat)
9   0.225397         (Milk, Bagel)
10  0.279365         (Bread, Milk)
11  0.219048          (Wine, Milk)
12  0.304762        (Cheese, Milk)
13  0.244444          (Eggs, Milk)
14  0.244444          (Meat, Milk)
15  0.279365        (Bread, Bagel)
16  0.244444         (Wine, Bread)
17  0.200000       (Bread, Pencil)
18  0.231746       (Bread, Diaper)
19  0.238095       (Bread, Cheese)
20  0.206349         (Bread, Meat)
21  0.200000        (Wine, Pencil)
22  0.234921        (Wine, Diaper)
23  0.269841        (Wine, Cheese)
24  0.241270          (Wine, Eggs)
25  0.250794          (Wine, Meat)
26  0.200000      (Pencil, Cheese)
27  0.200000      (Diaper, Cheese)
28  0.298413        (Eggs, Cheese)
29  0.323810        (Meat, Cheese)
30  0.266667          (Eggs, Meat)
31  0.203175  (Meat, Cheese, Milk)
32  0.215873  (Eggs, Meat, Cheese)

In [393]:
asso_rules = association_rules(freq_items,metric='confidence',min_threshold=0.6,num_itemsets=315)  # can use metric as lift
asso_rules.sort_values('confidence',ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
9,"(Meat, Milk)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,1.0,0.080564,2.952137,0.524816,0.374269,0.661262,0.618116
11,"(Eggs, Meat)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,1.0,0.082116,2.616667,0.518717,0.390805,0.617834,0.619952
12,"(Eggs, Cheese)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,1.0,0.073772,1.893773,0.487091,0.386364,0.471954,0.588369
4,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,1.0,0.078670,1.563203,0.469167,0.465347,0.360288,0.638048
5,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,1.0,0.084958,1.557540,0.500891,0.495146,0.357962,0.662785
10,"(Milk, Cheese)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,1.0,0.058050,1.571429,0.410959,0.351648,0.363636,0.546667
13,"(Meat, Cheese)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,1.0,0.074014,1.685714,0.507042,0.395349,0.406780,0.579710
2,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,1.0,0.064641,1.442650,0.402687,0.429268,0.306831,0.605088
6,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,1.0,0.084958,1.477891,0.526414,0.495146,0.323360,0.662785
8,"(Meat, Cheese)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,1.0,0.040756,1.337845,0.296655,0.326531,0.252529,0.516257
3,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,1.0,0.050098,1.297754,0.330409,0.402844,0.229438,0.576958
7,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,1.0,0.058050,1.338624,0.387409,0.411765,0.252964,0.584348
0,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,1.0,0.053172,1.270148,0.350053,0.436364,0.212690,0.607595
1,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,1.0,0.053172,1.270148,0.350053,0.436364,0.212690,0.607595

In [397]:
asso_rules[asso_rules.confidence>0.6]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,1.0,0.053172,1.270148,0.350053,0.436364,0.212690,0.607595
1,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,1.0,0.053172,1.270148,0.350053,0.436364,0.212690,0.607595
2,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,1.0,0.064641,1.442650,0.402687,0.429268,0.306831,0.605088
3,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,1.0,0.050098,1.297754,0.330409,0.402844,0.229438,0.576958
4,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,1.0,0.078670,1.563203,0.469167,0.465347,0.360288,0.638048
5,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,1.0,0.084958,1.557540,0.500891,0.495146,0.357962,0.662785
6,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,1.0,0.084958,1.477891,0.526414,0.495146,0.323360,0.662785
7,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,1.0,0.058050,1.338624,0.387409,0.411765,0.252964,0.584348
8,"(Meat, Cheese)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,1.0,0.040756,1.337845,0.296655,0.326531,0.252529,0.516257
9,"(Meat, Milk)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,1.0,0.080564,2.952137,0.524816,0.374269,0.661262,0.618116
10,"(Milk, Cheese)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,1.0,0.058050,1.571429,0.410959,0.351648,0.363636,0.546667
11,"(Eggs, Meat)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,1.0,0.082116,2.616667,0.518717,0.390805,0.617834,0.619952
12,"(Eggs, Cheese)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,1.0,0.073772,1.893773,0.487091,0.386364,0.471954,0.588369
13,"(Meat, Cheese)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,1.0,0.074014,1.685714,0.507042,0.395349,0.406780,0.579710